[project]
name = "ingest"
version = "0.1.0"
description = "Add your description here"
readme = "README.md"
requires-python = ">=3.13"
dependencies = [
    "pypdf>=6.4.0",
    "qdrant-client>=1.16.1",
    "sentence-transformers>=5.1.2",
]
