---
import Layout from "../layouts/Layout.astro";
import ChatInterface from "../components/ChatInterface.astro";
---

<Layout title="Elecciones CR 2026 - Asistente IA">
  <main>
    <ChatInterface />
  </main>
</Layout>

<style>
  main {
    flex: 1;
    width: 100%;
    background-color: var(--bg-primary);
    display: flex;
    flex-direction: column;
  }
</style>
