name: Ingest Data

on:
  push:
    branches:
      - main
    paths:
      - 'ingest/**'
  workflow_dispatch:

jobs:
  ingest:
    runs-on: ubuntu-latest
    defaults:
      run:
        working-directory: ./ingest

    steps:
      - name: Checkout code
        uses: actions/checkout@v4

      - name: Install uv
        uses: astral-sh/setup-uv@v3

      - name: Set up Python
        uses: actions/setup-python@v5
        with:
          python-version-file: "ingest/pyproject.toml"

      - name: Install dependencies
        run: uv sync --all-extras --dev

      - name: Run Ingestion
        env:
          QDRANT_URL: ${{ secrets.QDRANT_URL }}
          QDRANT_API_KEY: ${{ secrets.QDRANT_API_KEY }}
          QDRANT_COLLECTION: "planes_gobierno"
        run: uv run main.py
